<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Admin || Products </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin/style-1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin/modal.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  <style>
    #file-chosen{
      color: darkgray;
      margin-left: 0.3rem;
      font-family: sans-serif;
    }
      .information {
	border: none;
	background: #0A2558;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
    }

    .information:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
  }
  </style>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="login_mes active">
            {% if messages|length > 1 %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% else %}
                {{ messages[0]}}
            {% endif %}
        </div>
    {% endif %}
    {% endwith %}
  <div class="modal" id="uploadfile" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="background-color: #0A2558;color: white;">
          <h4 class="modal-title">Adding data</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form id="uploadfileform" action="/additem" method="post" enctype = "multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="viewstate" value="{{ viewstate }}">
          <div class="modal-body">
              <h5>Item's name:</h5>
              <p>
                <input type="text" id="name" name="name" placeholder=" Input filename" required>
              </p>
              <hr>
              <h5>Item's description:</h5>
              <p>
                <textarea type="text" id="description" name="description" placeholder=" Type some description (128 words)" rows="5" cols="22" required></textarea>
              </p>
              <hr>
              <h5>Item's price:</h5>
              <p>
                <input type="number" id="price" name="price" placeholder=" Input price" required>
              </p>
              <hr>
              <h5>Item's profile image:</h5>
              <p>
                <input type="file" name='profileimg' id="profileimg" accept="image/*" required>
              </p>
              <hr>
              <h5>Item's images:</h5>
              <p>
                <input type="file" name='files' id="files" multiple accept="image/*" required>
              </p>
          </div>
            <!-- Modal footer -->
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" style="background-color: #0A2558;color: white;">Add item</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="logo-details">
      <a href="{{url_for('menu')}}">
        <i class='bx bxs-home'></i>
      </a>
      <span class="logo_name">Techinno</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="{{url_for('menu')}}">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('admin_products')}}" class="active">
            <i class='bx bx-box' ></i>
            <span class="links_name">Product</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('orderlist')}}">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Order list</span>
          </a>
        </li>
        <li class="log_out">
          <a href="{{url_for('logout')}}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  {% for product in products %}
      <div class="modal" id="delete{{ product['id'] }}" style="color: black">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #0A2558;color: white;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="/delete" method="post" enctype = "multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="itemid" value="{{ product['id'] }}"/>
                <div class="modal-body">
                    <h5>Are you sure want to delete ?</h5>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" >Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal" id="edit{{ product['id'] }}" style="color: black">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #0A2558;color: white;">
              <h5 class="modal-title">{{ product['title'] }}</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="/edititem" method="post" enctype = "multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="itemid" value="{{ product['id'] }}"/>
                <div class="modal-body">
                    <div id="profile" style="display: inline-block;">
                        {% if product['profilehasimg'] == True %}
                            <img src="data:{{ product['content_type'] }};base64, {{ product['img'] }}" width="150" height="150" style="vertical-align:middle"/>
                        {% else %}
                            <img src="static/default.png" width="150" height="150" alt="default-image" style="vertical-align:middle">
                        {% endif %}
                        <p></p>
                        <input type="file" name='pfimg' id="pfimg" accept="image/*">
                    </div>
                    <hr>
                    <h5>Item's name:</h5>
                    <p>
                        <input type="text" id="editname" name="editname" value="{{ product['title'] }}" size="28">
                    </p>
                    <hr>
                    <h5>Item's description:</h5>
                    <p>
                        <textarea type="text" id="editdescription" name="editdescription" rows="5" cols="30">{{ product['description'] }}</textarea>
                    </p>
                    <hr>
                    <h5>Item's price:</h5>
                    <p>
                        <input type="number" id="editprice" name="editprice" value="{{ product['price'] }}">
                    </p>
                    <hr>
                    {% if product['hasimg'] == True %}
                    <h5>Current item's images:</h5>
                    <div id="images" style="display: inline-block;">
                        {% for img in product['imgs'] %}
                            <span style="vertical-align:middle">
                            {% if img['hasimg'] == True %}
                                <img src="data:{{ img['content_type'] }};base64, {{ img['img'] }}" width="100" height="100" style="vertical-align:middle"/>
                            {% else %}
                                <img src="static/default.png" width="100" height="100" alt="default-image" style="vertical-align:middle">
                            {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <h5>No item's images found</h5>
                    {% endif %}
                    <hr>
                    <p>
                        <input type="file" name='imgs' id="imgs" multiple accept="image/*">
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#delete{{ product['id'] }}">Delete</button>
                    <button type="submit" class="btn btn-primary" style="background-color: #0A2558;color: white;">Save change</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
      </div>
  {% endfor %}
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Product</span>
        <i></i>
        <i class='bx bxs-file-plus' data-toggle="modal" data-target="#uploadfile"></i>
      </div>
      <div class="profile-details">
        <span class="admin_name"> Welcome back <b> {{user}}</b></span><i class='bx bx-cog' ></i>
      </div>
    </nav>
    <div></div>
    <br>
    {% for product in products %}
      <div class="modal" id="item{{ product['id'] }}" style="color: black">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #0A2558;color: white;">
              <h5 class="modal-title">{{ product['title'] }}</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
              <div class="table_content">
                <table>
                  <thead>
                      <tr>
                          <th>Description</th>
                          <th>Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{ product['description'] }}</td>
                          <td>{{ product['price'] }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
                <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit{{ product['id'] }}" data-dismiss="modal" style="background-color: #0A2558;color: white;">Edit item</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="home-content">
      <div class="overview-boxes">
        {% for product in products %}
          <div class="right-side" style="margin-bottom: 50px">
              {% if product['profilehasimg'] == True %}
                <img src="data:{{ product['content_type'] }};base64, {{ product['img'] }}" width="500" height="600"/>
              {% else %}
                <img src="static/default.png" alt="default-image">
              {% endif %}
            <br>
            <br>
            <div class="button_cont" align="center">
              <a class="information" data-toggle="modal" data-target="#item{{ product['id'] }}">More information</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </section>
<script>
   $(function(){
      $("input[type = 'submit']").click(function(){
         var $fileUpload = $("input[type='file']");
         if (parseInt($fileUpload.get(0).files.length) > 3){
            alert("You are only allowed to upload a maximum of 3 files");
         }
      });
   });
</script>
<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
    sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
  }else
    sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("options");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.login_mes').fadeOut('slow');
            }, 3000);})
</script>
</body>
</html>
