<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <title> Admin || Dashboard </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin/style-1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin/modal.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  <style>
    .select {
  position: relative;
  display: flex;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
    /* Transition */
.select:hover::after {
  color: #f39c12;
}
     .in {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
      width: 190px;
      }
      input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
</style>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="login_mes active">
            {% if messages|length > 1 %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% else %}
                {{ messages[0]}}
            {% endif %}
        </div>
    {% endif %}
    {% endwith %}
  <!-- The profile modal -->
    <div class="modal" id="profile" style="color: black">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header" style="background-color: #0A2558;color: white;">
            <h4 class="modal-title">Edit Profile </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
            <div class="modal-body">
                <h5 data-toggle="modal" data-target="#changeprofile" data-dismiss="modal"> <img src="{{ url_for('static',filename='user.png') }}" width="30px" height="30px"> Change details</h5>
                <h5 data-toggle="modal" data-target="#changepassword" data-dismiss="modal"> <img src="{{ url_for('static',filename='password.png') }}" width="30px" height="30px"> Change password</h5>
                <p></p>
            </div>
              <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <!-- The detail modal -->
    <div class="modal" id="changeprofile" style="color: black">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header" style="background-color: #0A2558;color: white;">
            <h4 class="modal-title">Modify your profile</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form id="changepf" action="/changeprofile" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="viewstate" value="{{ viewstate }}">
            <div class="modal-body">
                <h5>Change email</h5>
                <p><input type="text" name="newmail" id="newmail" class="in"> </p>
                <hr>
                <h5>Change phone</h5>
                <p><input type="text" name="newphone" id="newphone" class="in"> </p>

            </div>
              <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profile" data-dismiss="modal" >Back</button>
                <button type="submit" class="btn btn-primary" >Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- The password modal -->
    <div class="modal" id="changepassword" style="color: black">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header" style="background-color: #0A2558;color: white;">
            <h4 class="modal-title">Change password</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form id="changepass" action="/changepassword" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="viewstate" value="{{ viewstate }}">
            <div class="modal-body">
                <h5>Current Password</h5>
                <p><input type="password" id="curinputpass"
                          name="curpass" placeholder="Current Password" class="in" required></p>
                <hr>
                <h5>New Password</h5>
                <p><input type="password" id="newinputpass"
                          name="newpass" placeholder="New Password" class="in" required> <input type="checkbox" onclick="maskFunction()"></p>
            </div>
              <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profile" data-dismiss="modal" >Back</button>
                <button type="submit" class="btn btn-primary" >Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <div class="sidebar">
    <div class="logo-details">
      <a href="{{url_for('menu')}}">
        <i class='bx bxs-home'></i>
      </a>
      <span class="logo_name">Techinno</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="{{url_for('menu')}}" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('admin_products')}}">
            <i class='bx bx-box' ></i>
            <span class="links_name">Product</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('orderlist')}}">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Order list</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('message')}}">
            <i class='bx bx-message-square-dots' ></i>
            <span class="links_name">Message</span>
          </a>
        </li>
        <li class="log_out">
          <a href="{{url_for('logout')}}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box" >
        <form id="search" action="/search" method="post" enctype = "multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="keyword" placeholder="Search...">
        </form>
      </div>
      <div class="profile-details">
        <span class="admin_name"> Welcome back <b> {{user}}</b></span><i class='bx bx-cog' data-toggle="modal" data-target="#profile"></i>
      </div>
    </nav>
    {% for data in datas %}
      <div class="modal" id="item{{ data['identified'] }}" style="color: black">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #0A2558;color: white;">
              <h4 class="modal-title">Order: {{data['code']}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
              <div class="modal-body">
                  <h6>Customer: {{ data['name'] }}</h6>
                  <h6>Address: {{data['address']}}</h6>
                  <h6>City: {{data['city']}}</h6>
                  <h6>Delivery time: {{ data['timeship'] }} - {{ data['dayship'] }}</h6>
                  <h6>Note: </h6>
                  <p>{{data['note']}}</p>
                  <h4>Total: <b>{{ data['total'] }} VND ({{ data['payment'] }})</b></h4>

              </div>
              <div class="table_content">
                  <table>
                      <thead>
                      <tr>
                          <td><h5>Item</h5></td>
                          <td><h5>Quantity</h5></td>
                          <td><h5>Price per one</h5></td>
                      </tr>
                      </thead>
                      {% for detail in data['detail'] %}
                      <tr>
                          <td>{{detail['item']}}</td>
                          <td>{{detail['quantity']}}</td>
                          <td>{{detail['price']}}</td>
                      </tr>
                      {% endfor %}
                  </table>
              </div>
                <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Orders</div>
          <div class="table_content">
              <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Time ordered</th>
                            <th>Name</th>
                            <th>Email</th>
							<th>Phone</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>
                                {% if data['checked'] == 0 %}
                                <form id="checkbox{{data['identified']}}" action="/check" method="post" enctype = "multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="id" value="{{data['identified']}}">
                                    <input type="submit" value="done" class="btn btn-primary" style="font-size: 10px">
                                </form>
                                {% else %}
                                <form id="uncheckbox{{data['identified']}}" action="/uncheck" method="post" enctype = "multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="id" value="{{data['identified']}}">
                                    <input type="submit" value="undone" class="btn btn-danger" style="font-size: 10px">
                                </form>
                                {% endif %}
                            </td>
                            <td>{% if data['checked'] == 0 %}<b>{{ data['timeorder'] }}</b>{% else %}{{ data['timeorder'] }}{%endif%}</td>
                            <td>{% if data['checked'] == 0 %}<b>{{ data['name'] }}</b>{% else %}{{ data['name'] }}{%endif%}</td>
                            <td>{% if data['checked'] == 0 %}<b>{{ data['email'] }}</b>{% else %}{{ data['email'] }}{%endif%}</td>
                            <td>{% if data['checked'] == 0 %}<b>{{ data['phone'] }}</b>{% else %}{{ data['phone'] }}{%endif%}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item{{ data['identified'] }}" style="font-size: 10px">{{data['code']}}</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Top Seling Product</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
              <img src="static/images/product-1-720x480.jpg" alt="">
              <span class="product">marshmallow americano</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="static/images/product-1-720x480.jpg" alt="">
              <span class="product">marshmallow mint</span>
            </a>
          </li>
          </ul>
        </div>
      </div>
    </div>

  </section>
  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
    sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
 </script>
<script>
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function kinds() {
  document.getElementById("kinds").classList.toggle("show");
}
function figures() {
  document.getElementById("figure").classList.toggle("show");
}

</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("options");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.login_mes').fadeOut('slow');
            }, 3000);})
</script>
<script>
    function maskFunction() {
        var x = document.getElementById("curinputpass");
        var y = document.getElementById("newinputpass");
        if (x.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
    }
</script>
</body>
</html>
