<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel = "icon" sizes="152x152" href = "{{ url_for('static',filename='monkey.jpg') }}" type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>By APE</title>

    <link rel="stylesheet" type="text/css" href="static/css/user/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/css/user/font-awesome.css">

    <link rel="stylesheet" href="static/css/user/style.css">

    </head>
    <style>
        input[type=submit]{
            background-color: #ed563b;
            border: none;
            color: white;
            cursor: pointer;
        }
    </style>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">By <em> APE</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/products" class="active">Products</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url('/static/images/banner-image-1-1920x500.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Almost <em>Finish ...</em></h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section">
        <div class="container">
            <br>
            <br>
            <form id="check" action="/checkout" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% if items|length > 0 %}
                {% for item in items %}
                    <div class="row">
                      <div class="col-md-8">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if item['imgs'][0]['hasimg'] == True %}
                                    <img class="d-block w-100" src="data:{{ item['imgs'][0]['content_type'] }};base64, {{ item['imgs'][0]['img'] }}"  alt="First slide">
                                {% else %}
                                    <img src="static/default.png" alt="default-image">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if item['imgs'][1]['hasimg'] == True %}
                                    <img class="d-block w-100" src="data:{{ item['imgs'][1]['content_type'] }};base64, {{ item['imgs'][1]['img'] }}" alt="Second slide">
                                {% else %}
                                    <img src="static/default.png" alt="default-image">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if item['imgs'][2]['hasimg'] == True %}
                                    <img class="d-block w-100" src="data:{{ item['imgs'][2]['content_type'] }};base64, {{ item['imgs'][2]['img'] }}" alt="Third slide">
                                {% else %}
                                    <img src="static/default.png"  alt="default-image">
                                {% endif %}
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>

                        <br>
                      </div>

                      <div class="col-md-4">
                        <div class="contact-form">
                            <div class="form-group">
                                <p>{{item['title']}}</p>
                                <p>{{item['description']}}</p>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Quantity</label>
                                  <input name="quantity" type="number" placeholder="1" required>
                                  <input name="item" type="hidden" value="{{item['id']}}">
                                  <input name="price" type="hidden" value="{{item['price']}}">
                              </div>
                            </div>
                        </div>
                        <br>
                      </div>
                    </div>
                {% endfor %}

                <div class="col-lg-12">
                    <div class="main-button">
                        <div class="float-left">

                            <a href="#check"><input type="submit" value="Add to cart"></a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <h4>NO PRODUCTS</h4>
                    </div>
                </div>
                {% endif %}
            </form>
            <br>
            <br>
            <br>
        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2021 By APE
                        - Developed by: Techinno </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script>
    <script src="static/js/mixitup.js"></script>
    <script src="static/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

  </body>
</html>